# Cargo output
/target
**/*.rs.bk

# IDE integration
.vscode

# WASM compiler output
wasm/webapp/app.js
wasm/webapp/basic.js
wasm/webapp/basic.d.ts
wasm/webapp/basic_bg.d.ts
wasm/webapp/*.wasm
wasm/webapp/*.bak
